In [10]:
import pandas as pd
import matplotlib.pyplot as plt
from urllib.request import Request, urlopen

In [2]:
price_url = "https://etherscan.io/chart/etherprice?output=csv"
market_capitalization_url = "https://etherscan.io/chart/marketcap?output=csv"
supply_growth_url = "https://etherscan.io/chart/ethersupplygrowth?output=csv"
daily_transactions_url = "https://etherscan.io/chart/tx?output=csv"
daily_token_transfer_url = "https://etherscan.io/chart/tokenerc-20txns?output=csv"
unique_address_url = "https://etherscan.io/chart/address?output=csv"
avg_block_size_url = "https://etherscan.io/chart/blocksize?output=csv"
avg_block_time_url = "https://etherscan.io/chart/blocktime?output=csv"
avg_gas_price_url = "https://etherscan.io/chart/gasprice?output=csv"
avg_gas_limit_url = "https://etherscan.io/chart/gaslimit?output=csv"
daily_gas_used_url = "https://etherscan.io/chart/gasused?output=csv"
daily_block_reward_url = "https://etherscan.io/chart/blockreward?output=csv"
block_count_rewards_url = "https://etherscan.io/chart/blocks?output=csv"
uncle_count_rewards_url = "https://etherscan.io/chart/uncles?output=csv"
net_hashrte_url = "https://etherscan.io/chart/hashrate?output=csv"
net_difficulty_url = "https://etherscan.io/chart/difficulty?output=csv"
pending_transactions_url = "https://etherscan.io/chart/pendingtx?output=csv"
net_transaction_fee_url = "https://etherscan.io/chart/transactionfee?output=csv"
net_utilization_url = "https://etherscan.io/chart/networkutilization?output=csv"
daily_verified_contracts_url = "https://etherscan.io/chart/verified-contracts?output=csv"

In [3]:
def read_data(url):
  req = Request(url)
  req.add_header('User-Agent', 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:77.0) Gecko/20100101 Firefox/77.0')
  content = urlopen(req)

  return pd.read_csv(content)
url_list = [
              ("price", price_url),
              ("market cap.", market_capitalization_url),
              ("supply growth", supply_growth_url),
              ("daily trans.", daily_transactions_url),
              ("daily token trans.", daily_token_transfer_url),
              ("uniq. address", unique_address_url),
              ("avg blk size", avg_block_size_url),
              ("avg blk time", avg_block_time_url),
              ("avg gas price", avg_gas_price_url),
              ("avg gas limit", avg_gas_limit_url),
              ("daily gas used", daily_gas_used_url),
              ("daily blk reward", daily_block_reward_url),
              ("blk count reward", block_count_rewards_url),
              ("uncle count reward", uncle_count_rewards_url),
              ("net hashrte", net_hashrte_url),
              ("net diff.", net_difficulty_url),
              # ("pending trans.", pending_transactions_url),
              ("net trans. fee", net_transaction_fee_url),
              ("net util.", net_utilization_url),
              # ("daily verified contracts", daily_verified_contracts_url),
]

In [4]:
df_list = []
for column_name, url in url_list:
  df = read_data(url)
  df["Date(UTC)"] = pd.to_datetime(df["Date(UTC)"]).dt.strftime('%m/%d/%Y')

  if "UnixTimeStamp" in df.columns:
    df = df.drop("UnixTimeStamp", 1)
    
  if "Value" in df.columns:
    df = df.rename(columns={"Value": column_name})

  df_list.append(df)
from functools import reduce

C:\Users\jcsar\AppData\Local\Temp/ipykernel_14452/2662321159.py:7: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df = df.drop("UnixTimeStamp", 1)

In [5]:
df_total = reduce(lambda df1, df2: pd.merge(df1, df2, on='Date(UTC)'), df_list)
df_total = df_total.rename(columns={"Value (Wei)": "avg gas price"})
df_total

,Date(UTC),price,Supply,MarketCap,Price,supply growth,daily trans.,No. of ERC20 Token Transfers,uniq. address,avg blk size,...,avg gas price,avg gas limit,daily gas used,daily blk reward,blk count reward,uncle count reward,net hashrte,net diff.,net trans. fee,net util.
0,07/30/2015,0.00,7.204931e+07,0.000000,0.00,7.204931e+07,8893,0,9205,644,...,0,0,0,39316.09375,6912,1299,1.152970e+01,0.121,0,0.0000
1,07/31/2015,0.00,7.208550e+07,0.000000,0.00,7.208550e+07,0,0,9361,582,...,0,0,0,36191.71875,6863,511,5.145940e+01,0.603,0,0.0000
2,08/01/2015,0.00,7.211320e+07,0.000000,0.00,7.211320e+07,0,0,9476,575,...,0,0,0,27705.93750,5293,334,5.778450e+01,0.887,0,0.0000
3,08/02/2015,0.00,7.214143e+07,0.000000,0.00,7.214143e+07,0,0,9563,581,...,0,0,0,28223.43750,5358,394,6.792240e+01,1.020,0,0.0000
4,08/03/2015,0.00,7.216940e+07,0.000000,0.00,7.216940e+07,0,0,9639,587,...,0,0,0,27976.71875,5280,443,7.457370e+01,1.126,0,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2480,05/14/2022,2054.03,1.207806e+08,248086.935443,"2,054.03",1.190166e+08,1139785,775275,196173107,86964,...,40871363308,30002670,96220147419,13090.75000,6237,348,1.072682e+06,14074.365,822113449805237910416,0.5142
2481,05/15/2022,2143.12,1.207938e+08,258875.547510,"2,143.12",1.190292e+08,1089441,697055,196265688,88217,...,27951143721,30000755,96964296244,13191.12500,6289,346,1.103159e+06,14365.170,542304233952600920680,0.5139
2482,05/16/2022,2020.12,1.208070e+08,244044.678316,"2,020.12",1.190419e+08,1124352,658631,196360546,90246,...,28804637041,30002598,97122482695,13249.06250,6288,381,1.098342e+06,14229.534,619416982700701069686,0.5148
2483,05/17/2022,2089.29,1.208203e+08,252428.573616,"2,089.29",1.190536e+08,1135718,550072,196452359,103813,...,37830309444,30000817,96996989358,13245.50000,6285,380,1.093684e+06,14177.685,585500381165097321612,0.5144
2484,05/18/2022,1911.68,1.208335e+08,230994.949257,"1,911.68",1.190660e+08,1177913,612483,196557060,89802,...,30748925664,30004795,96468231165,13215.12500,6246,410,1.113093e+06,14448.806,546723674510897182591,0.5147

In [6]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2485 entries, 0 to 2484
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Date(UTC)                     2485 non-null   object
 1   price                         2485 non-null   float64
 2   Supply                        2485 non-null   float64
 3   MarketCap                     2485 non-null   float64
 4   Price                         2485 non-null   object
 5   supply growth                 2485 non-null   float64
 6   daily trans.                  2485 non-null   int64
 7   No. of ERC20 Token Transfers  2485 non-null   int64
 8   uniq. address                 2485 non-null   int64
 9   avg blk size                  2485 non-null   int64
 10  avg blk time                  2485 non-null   float64
 11  avg gas price                 2485 non-null   int64
 12  avg gas limit                 2485 non-null   int64
 13  daily gas used                2485 non-null   int64
 14  daily blk reward              2485 non-null   float64
 15  blk count reward              2485 non-null   int64
 16  uncle count reward            2485 non-null   int64
 17  net hashrte                   2485 non-null   float64
 18  net diff.                     2485 non-null   float64
 19  net trans. fee                2485 non-null   object
 20  net util.                     2485 non-null   float64
dtypes: float64(9), int64(9), object(3)
memory usage: 427.1+ KB

In [9]:
# df_total.to_csv("Resources/data/etheruem_data.csv")
df_total = pd.read_csv("Resources/data/ethereum_data.csv")
df_total

      Date(UTC)  UnixTimeStamp    Value
0     7/30/2015     1438214400     0.00
1     7/31/2015     1438300800     0.00
2      8/1/2015     1438387200     0.00
3      8/2/2015     1438473600     0.00
4      8/3/2015     1438560000     0.00
...         ...            ...      ...
2480  5/14/2022     1652486400  2054.03
2481  5/15/2022     1652572800  2143.12
2482  5/16/2022     1652659200  2020.12
2483  5/17/2022     1652745600  2089.29
2484  5/18/2022     1652832000  1911.68

[2485 rows x 3 columns]

In [11]:
df_total["price"].plot()
plt.show()

KeyError: 'price'