In [5]:
import requests
import pandas as pd

def get_crypto_price(symbol, exchange, start_date = None):
    api_key = 'T6X62ZNC78VB55YK'
    api_url = f'https://www.alphavantage.co/query?function=DIGITAL_CURRENCY_DAILY&symbol={symbol}&market={exchange}&apikey={api_key}'
    raw_df = requests.get(api_url).json()
    df = pd.DataFrame(raw_df['Time Series (Digital Currency Daily)']).T
    df = df.rename(columns = {'1a. open (USD)': 'open', '2a. high (USD)': 'high', '3a. low (USD)': 'low', '4a. close (USD)': 'close', '5. volume': 'volume'})
    for i in df.columns:
        df[i] = df[i].astype(float)
    df.index = pd.to_datetime(df.index)
    df = df.iloc[::-1].drop(['1b. open (USD)', '2b. high (USD)', '3b. low (USD)', '4b. close (USD)', '6. market cap (USD)'], axis = 1)
    if start_date:
        df = df[df.index >= start_date]
    return df

btc = get_crypto_price(symbol = 'BTC', exchange = 'USD', start_date = '2020-01-01')
btc

                open      high       low     close        volume
2020-01-01   7195.24   7255.00   7175.15   7200.85  16792.388165
2020-01-02   7200.77   7212.50   6924.74   6965.71  31951.483932
2020-01-03   6965.49   7405.00   6871.04   7344.96  68428.500451
2020-01-04   7345.00   7404.00   7272.21   7354.11  29987.974977
2020-01-05   7354.19   7495.00   7318.00   7358.75  38331.085604
...              ...       ...       ...       ...           ...
2022-05-27  29201.35  29397.66  28282.90  28629.80  90998.520100
2022-05-28  28629.81  29266.00  28450.00  29031.33  34479.351270
2022-05-29  29031.33  29587.78  28839.21  29468.10  27567.347640
2022-05-30  29468.10  32222.00  29299.62  31734.22  96785.947600
2022-05-31  31734.23  31861.55  31564.38  31584.92   2112.810590

[882 rows x 5 columns]

In [6]:
#Constants to download data
START = "2018-01-01"
TODAY = date.today().strftime("%Y-%m-%d")
API_KEY = 'T6X62ZNC78VB55YK'
IMGE = 'nft.PNG'
# ccys = ["BTC", "ETH", "USDT", "USDC","BNB","XRP", "ADA", "BUSD", "SOL", "DOGE"]
f = web.DataReader("BTC", "ETH", "USDT", "USDC","BNB","XRP", "ADA", "BUSD", "SOL", "DOGE" api_key=os.getenv('ALPHAVANTAGE_API_KEY'))
f

SyntaxError: invalid syntax (2836323589.py, line 7)